.custom-sider {
  height: 100vh;
  position: fixed;
  left: 0;
}

.custom-layout {
  min-height: 100vh;
}

.notchFixLeft {
  padding-left: env(safe-area-inset-left);
}

@media (min-width: 768px) {
  .custom-layout {
    margin-left: 200px;
  }
}